# ignore directory
.metadata/
Servers/
target/
project/src/main/webapp/attach

target/m2e-wtp/
# aws 키 ignore
*.properties

project/.classpath
project/.factorypath
project/bin/
project/.settings

# 배포버전 삭제
배포버전/