@charset "UTF-8";

/* 전체 placeholder css */
input::placeholder{
				color: rgba(0, 0, 0, 0.26);
				font-size: 12px;
				font-family: Inter, sans-serif;
				font-weight: normal;
				text-align: left;
}

/* input date 아이콘 커스텀 */
/* date 아이콘 지우기 및 클릭 범위 넓히기 */
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="date"]::-webkit-calendar-picker-indicator{
			position: absolute;
			width:100%;
			height:100%;
			background: transparent;
			color: transparent;
			cursor: pointer;
}
/* 새로운 아이콘 설정 */
input[type="date"]{
	position : relative;
	background: url(../../img/DateBtn.png)no-repeat right 5px center;
}
/* placeholder 넣기 */
input[data-placeholder]::before{
	color: rgba(0, 0, 0, 0.26);
	 font-size: 12px;
	font-family: Inter, sans-serif;
	font-weight: normal;
	text-align: left; 
}
input[type="date"]::before{
			position:relative;
			content:attr(data-placeholder);
			width:100%;
			height:100%;
}

/* date 선택 이후 placeholder 지우기 */
input[type="date"]:valid::before{
	display: none;
}

	.frame3 {
		display: flex;
		flex-direction: column;
		border: solid 1px rgba(0, 0, 0, 0.26);
		border-radius: 10px;
		position: relative;
		width: 810px;
		margin:20px auto;
	}
	
			.frame3 .proApplyTitle{
				color: black;
				font-size: 24px;
				font-family: Inter, sans-serif;
				font-weight: normal;
				text-align: center;
			}
			.frame3 .title {
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
				.title #ProTitle {
					width: 67px;
					height: 34px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					text-align: center;
					line-height:34px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.title #ProTitleBar {
					width: 419px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
			
			.frame3 .payment{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
			
				.payment #ApplyPayBar {
					width: 216px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
				
				.payment #ApplyPay {
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					width: 67px;
					height: 33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
			
			
			.frame3 .wonImage{
				position: absolute;
				top: 7%;
				left: 36%;
			}
			
				.wonImage #Won {
					width: 35px;
					height: 35px;
				}
			
			.frame3 .company{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
			
				.company #CompanyName {
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33.5px;
					width: 68px;
					height: 33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.company #CompanyNameBar {
					width: 414px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					left: 78px;
					outline: none;
				}
			
			.frame3 .time{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
			
				.time #Term {
					width: 67px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:34px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.time #TermBar {
					width: 165px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
				
			.frame3 .dates{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}	
				.dates #StartDate {
					width: 67px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.dates #StartDateBar {
					width: 249px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
			
			
				.dates #EndDate {
					width: 69px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				
				.dates #EndDateBar {
					width: 248px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
				
			
				.dates #EndDateBtn {
					width: 39px;
					height: 30px;
					background: url(../../img/searchBtn.png);
					/* https://s3-alpha-sig.figma.com/img/0612/8a48/460456c4ddc3b4e8c6ef229b5ffbb7a5?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DvAUJjO-oIE-EIWvMQxv2mL5b-C97yekyudH8VqtVjhbL2e4-g2ySGaJcyADzHElVyye0KpfdZepHhaFgToHhVbnQgJqMYABwzVi0~3bwaPArozZGpg1bbETJ4QrhBv7rgLNSqQQm0f8tv-mwo2stmFkzE3gJcAFmX7dlY-bE7PN7HYcL2sKtTspqOyCGNOcK2l8Vp8IbKZXoGmvmAZgfcZ-s5JpO7U6VE3UhkWUR428Z7TujzDMehb7tYYvRm~uDFDhEbS2Y5mbQBVL0PAk5ii3bCL95IeURD7LFBayJs8qQCG98d21i4D2S3RaaDd19qiAvjXbWK~g5JblQ32mhw__ */
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			
			.frame3 .forEmail{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
			
				.forEmail #EMail {
					width: 67px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				
				
				.forEmail #EMailBar {
					width: 382px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
			
			.frame3 .forPhone{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
			
				.forPhone #Phone {
					width: 67px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.forPhone #PhoneBar {
					width: 374px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
			
			.frame3 .forAddress{
				display: flex;
				flex-direction: row;
				justify-content: left;
			}
			
				.forAddress #Address {
					width: 67px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.forAddress #AddressBar {
					width: 591px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					outline: none;
				}
			
			.frame3 .FilterBox {
				width: 30%;
				height: 9%;
				background:linear-gradient(-90deg, rgba(217, 217, 217, 0.2), rgba(217, 217, 217, 0.2));
				border-radius: 10px;
				position: absolute;
				top: 1%;
				right: 1%;
				
			}
			
				.FilterBox  #Work {
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
				}
				
				.FilterBox .proceedWay{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					width: 100%;
				}
				.FilterBox .proceedWay input[type=radio]{
					display:none;
				}
				.FilterBox .proceedWay label{
					display:flex;
					width: 60px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-radius: 10px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 16px;
					font-family: Inter, sans-serif;
					align-items: center;
					line-height:34px;
					justify-content: center;
					cursor: pointer;
				}
				.FilterBox .proceedWay input[type=radio]:checked + label {
					border-color: rgb(3, 215, 79);
					color: rgb(3, 215, 79);				
				}
				
				.FilterBox  #Choose {
					color: rgba(0, 0, 0, 0.5);
					text-overflow: ellipsis;
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: left;
				}
				
				.FilterBox .chooseWay{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					width: 100%;
				}
					.FilterBox .chooseWay input[type=radio]{
						display:none;
					}
					.FilterBox .chooseWay label{
						display:flex;
						border: solid 1px rgba(0, 0, 0, 0.26);
						border-radius: 10px;
						min-width: 23%;
						color: rgba(0, 0, 0, 0.5);
						font-size: 16px;
						font-family: Inter, sans-serif;
						align-items: center;
						line-height:34px;
						justify-content: center;
						cursor: pointer;
						padding: 0 1%;
					}
					.FilterBox .chooseWay input[type=radio]:checked + label {
						border-color: rgb(3, 215, 79);
						color: rgb(3, 215, 79);					
					}
				
			.frame3 #ProContext {
				width: 100%;
				height: 545px;
				border: solid 1px rgba(0, 0, 0, 0.26);
				overflow-y:auto;
				overflow-x:hidden;
				resize: none;
			}
			textarea::placeholder{
				color: rgba(0, 0, 0, 0.26);
				font-size: 14px;
				font-family: Inter, sans-serif;
				font-weight: normal;
				text-align: left;
			}
			
			.frame3 .attached{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				width: 45%;
				position: relative;
				left: 2%;
				align-items: center;
			}
			
				.attached #AttachedFile {
					color: rgba(3, 215, 79, 0.6);
					font-size: 16px;
					font-family: Inter, sans-serif;
					font-weight: normal;
				}
				
				.attached #AttachedEx {
					color: rgba(0, 0, 0, 0.26);
					font-size: 11px;
					font-family: Inter, sans-serif;
					font-weight: normal;
				}
			
			input[type='file'] {
			  display: block;
			  width: 0;
			  height: 0;
			  overflow: hidden;
			}
			.frame3 .UploadForm {
			  position:relative;
			  left: 1%;
			  top: 6px;
			}
				.UploadForm .UploadForm1 {
				  	color: rgba(0, 0, 0, 0.5);
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-radius: 10px;
					cursor:pointer;
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					padding:5px 20px;
				}
				.UploadForm .UploadedFileName {
				  	padding: 0 5px 0 10px;
				    margin-left: 5px;
				    margin-top: -5px;
					display: inline-block;
					color: rgba(0, 0, 0, 0.6);
					text-overflow: ellipsis;
					font-size: 16px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: left;
					line-height:30px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-radius: 10px;
					width: 640px;
					height: 30px;
				}
				
			.frame3 #UploadAjax {
				width: 772px;
				height: 97px;
				background: linear-gradient(-90deg, rgba(217, 217, 217, 0.4), rgba(217, 217, 217, 0.4));
				border-radius: 10px;
				position: relative;
				left: 1%;
				top: 9px;
			}
			
				#UploadAjax #UploadAjax1 {
					color: rgba(0, 0, 0, 0.5);
					font-size: 16px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: left;
				}

			.frame3 .uploadList {
				list-style: none;
				border: 1px solid #CCCCCC;
				display: flex;
				justify-content: center;
			}
			
			.frame3 #ApplyEx {
				color: rgba(0, 0, 0, 0.26);
				font-size: 11px;
				font-family: Inter, sans-serif;
				font-weight: normal;
				text-align: left;
				position: relative;
				top: 10px;
			}
			
			
			.frame3 .applyDates{
				display: flex;
				flex-direction: row;
				justify-content: left;
				position: relative;
				top: 10px;
			}
			
				.applyDates #ApplyTerm {
					width: 88px;
					height: 33px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 15px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:33px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				
				.applyDates #ApplyTermBar {
					width: 319px;
					height: 35px;
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
				}
				
				
				.applyDates #ApplyBtn {
					width: 39px;
					height: 30px;
					background: url(../../img/searchBtn.png);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			
			.frame3 .buttons{
				position: relative;
				bottom: 1px;
				left: 67%;
			}
				.buttons #WriteBtn {
					width: 129px;
					height: 35px;
					color: white;
					font-size: 18px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:35px;
					background: rgb(3, 215, 79);
					border:none;
					border-radius: 10px;
					cursor: pointer;
				}
				
				
				.buttons #ResetBtn {
					width: 129px;
					height: 35px;
					color: rgba(0, 0, 0, 0.5);
					font-size: 18px;
					font-family: Inter, sans-serif;
					font-weight: normal;
					text-align: center;
					line-height:35px;
					background: rgb(255, 255, 255);
					border: solid 1px rgba(0, 0, 0, 0.26);
					border-radius: 10px;
					cursor: pointer;
				}
			