@charset "UTF-8";

.aaaa{
		display:none;
	}

	#table {
		border: 1px solid rgba(200,200,200,0.5);
		margin: 10px auto;
		width: 500px;
		box-shadow: 2px 2px 0 #CCCCCC;
	}
		#table div {
			text-align: center;
			align-items: center;
		}
		
		#table div input[type=file] {
			width: 200px;
		}
		
		#table div input {
			width: 300px;
			height: 30px;
			margin-bottom: 10px;
			border-radius: 5px;
			box-shadow:0 2px 0 #CCCCCC;
			border: 1px solid #CCCCCC;
		}
		
		#table div div {
			width: 300px;
			display: flex;
			flex-direction: row;
			margin: 0 auto;
		}
		
		#table div div input[type=radio] {
			display: none;
		}
		
		#table div div input[type=radio]:checked + label {
			background-color: skyblue;
		}
		
		#table div div label {
			display: block;
			border: 1px solid black;
			width: 150px;
			height: 30px;
			margin: 0 auto;
			border-radius: 5px;
			margin-bottom: 10px;
			box-shadow:0 2px 0 #CCCCCC;
		}
		
		#table div p {
			width: 300px;
			margin: 0 auto;
			text-align: left;
		}
		
		#table div .bbbb input {
			width: 200px;
			margin-right: 40px;
			
		}
		
		#table div .bbbb button {
			width: 60px;
			height: 30px;
			border-radius: 5px;
			background-color: rgba(3,199,90);
			color: white;
			box-shadow:0 2px 0 #CCCCCC;
		}
		
		
	#logo {
		display: block; /* img 태그는 inline 요소이므로 */
		margin: 0 auto;
		max-width: 300px;
		height: auto;
	}
	
	#map {
		text-align: center;
	}