@charset "UTF-8";

button:hover {
	cursor: pointer;
}

.aaaa{
		display:none;
	}

	#table > div > h2 {
		margin-top: 10px;
	}

	#table {
		border: 1px solid rgba(200,200,200,0.5);
		margin: 10px auto;
		width: 500px;
		box-shadow: 2px 2px 0 #CCCCCC;
	}
		#table div {
			text-align: center;
			align-items: center;
		}
		
		#table div input[type=file] {
			width: 200px;
		}
		
		#table div input {
			width: 300px;
			height: 30px;
			margin-bottom: 10px;
			border-radius: 5px;
			box-shadow:0px 2px 2px  rgba(0, 0, 0, 0.25);
			border: 1px solid #CCCCCC;
			border: none;
		}
		
		#table div div {
			width: 300px;
			display: flex;
			flex-direction: row;
			margin: 0 auto;
		}
		
		#table div div input[type=radio] {
			display: none;
		}
		
		#table div div input[type=radio]:checked + label {
			background-color: #DCDCDC;
		}
		
		#table div div label {
			display: block;
			border: none;
			width: 150px;
			height: 30px;
			margin: 0 auto;
			border-radius: 6px;
			margin-bottom: 10px;
			box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
			color: rgba(0, 0, 0, 0.7);
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}
		
		#table div p {
			width: 300px;
			margin: 0 auto;
			text-align: left;
		}
		
		#table div .bbbb input {
			width: 200px;
			margin-right: 40px;
			
		}
		
		#table div .bbbb button {
			width: 60px;
			height: 35px;
			border: none;
			border-radius: 6px;
			margin-left: 10px;
			margin-bottom: 10px;
			background: linear-gradient(-90deg, rgba(3, 215, 79, 0.8), rgba(3, 215, 79, 0.8));
			color: white;
			box-shadow:0 2px 0 #CCCCCC;
		}
		
		
	#logo {
		display: block; /* img 태그는 inline 요소이므로 */
		margin: 0 auto;
		max-width: 300px;
		height: auto;
	}
	
	#map {
		text-align: center;
	}