@charset "UTF-8";

button {
	width: 300px;
	height: 35px;
	border: none;
	border-radius: 6px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: linear-gradient(-90deg, rgba(3, 215, 79, 0.8), rgba(3, 215, 79, 0.8));
	color: white;
	box-shadow:0 2px 0 #CCCCCC;	
}

button:hover {
	cursor: pointer;
	border: 3px solid blue;
}

.frame {
	display: flex;
	flex-direction: column;
}

	.frame .first {
		margin: 30px;
		width: 100%;
		height: 210px;
		display: flex;
		flex-direction: column;
	}
		.first .advertise {
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: center;
		}
		
		.first .advertise > img {
			border: 1px solid black;
			width: 150px;
			height: 100px;
			cursor: pointer;
			margin: 0 10px 5px 10px;
		}
	
	.frame .second {
		margin-top: 20px;
		height: 300px;
	}
		.second > div {
			width: 50%;
			height: 125px;
			float: left;
		}
		
		.second > div:nth-child(3) {
			width: 100%;
			height: 100px;
		}
	
		.second #first {
			box-shadow: 1px 1px 1px #CCCCCC;
			width: 125px;
			height: 125px;
			background-color: #E9E7E8;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 100px;
			border-radius: 50%;
			animation: myAnim 5s infinite ease normal;
		}
		
		@keyframes myAnim {
            0% {
                left: calc(25% - 50px);
                opacity: 0.3;
            }
            25% {
                left: calc(50% - 50px);
                opacity: 1;
            }
            50% {
                left: calc(75% - 50px);
                opacity: 0.7;
            }
            75% {
                left: calc(50% - 50px);
                opacity: 1;
            }
            100% {
                left: calc(25% - 50px);
                opacity: 0.7;
            }
        }
        
        .second #second {
        	box-shadow: 1px 1px 1px #CCCCCC;
        	width: 12%;
        	height: 50px;
        	line-height: 50px;
            text-align: center;
            background-color: EAE7EC;
            border-radius: 25px;
            animation: animationName 1s infinite ease-in-out alternate;
            opacity: 0.2;
            float: left;
            margin: 0 4%;
        }
        	#second h2 {
        		font-size: 0.5em;
        	}
        
	        #second:nth-child(2) {
	            animation-delay: 0.2s;
	        }
	        #second:nth-child(3) {
	            animation-delay: 0.4s;
	        }
	        #second:nth-child(4) {
	            animation-delay: 0.6s;
	        }
	        #second:nth-child(5) {
	            animation-delay: 0.8s;
	        }
	
	        @keyframes animationName {
	            0% {
	                margin-top: 0px;
	            }
	            70% {
	                margin-top: 80px;
	                opacity: 0.7;
	            }
	            100% {
	                margin-top: 60px;
	                opacity: 1;
	            }
	        }
	        
	        .second > div:nth-child(2) {
	        	margin-bottom: 50px;
	        }
        
	.frame .third {
		height: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}
		
		.third .title h1{
			color: #247C4D;
		}
	
		.third .t1 {
			width: 100%;
			height: 80%;
			display: flex;
			justify-content: space-around;
			margin-top: 2%;
			margin-bottom: 3%;
		}
			.t1 .t2 {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 30%;
				height: 100%;
				border: 1px solid black;
				background-color: #DDEDDF;
			}
		
	.frame .fourth {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
		.fourth .fourthTitle {
			margin-bottom : 60px;
		}
	
		.fourth .comment {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-bottom: 30px;
		}
			.comment div {
				width: 20%;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
			}
			
			.comment div h3 {
				text-align: center;
			}
		
			.comment div p {
				text-align: center;	
			}
		
	.frame .fifth {
		border: 1px solid #CCCCCC;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
		.fifth .image-slider {
			width: 818px;
		}
		.fifth img {
			margin : 3px;
		}
